{{#each movies as |movie|}}
  <section data-id="{{movie.id}}">
    <h6>Title:</h6>
    <h3>
      {{movie.title}}
    </h3>
    <h6>Release Year:</h6>
    <h3>
      {{movie.year}}
    </h3>
    <h6>Rating:</h6>
    <p>
      {{#if movie.rating}}
        {{movie.rating}}
      {{else}}
        Not Rated
      {{/if}}
    </p>
    <button data-id="{{movie.id}}" class="btn btn-update">Change Entry!</button>
    <button data-id="{{movie.id}}" class="btn btn-danger">Remove Movie!</button>
  </section>

{{/each}}
