{{#each movies as |movie|}}
  <section data-id="{{movie.id}}">
    <h6>Title:</h6>
    <h3>
      {{movie.title}}
    </h3>

    <hr>

    <h6>Release Year:</h6>
    <h3>
      {{movie.year}}
    </h3>

    <hr>

    <h6>Rating:</h6>
    <h3>
      {{#if movie.rating}}
        {{movie.rating}}
      {{else}}
        Not Rated
      {{/if}}
    </h3>

    <hr>
    <form id="updateButton" class="" data-id="{{movie.id}}">
      <h3>Update movie</h3>
      <fieldset>
        <input type="text" name="movie[title]" value="{{movie.title}}" placeholder="Title">
        <input type="integer" name="movie[year]" value="{{movie.year}}" placeholder="Release Year">
        <input type="text" name="movie[rating]" value="{{movie.rating}}" placeholder="?/5">
        <input type="submit" value="Edit entry">
      </fieldset>
    </form>

    <button data-id="{{movie.id}}" class="btn btn-danger">Remove Movie!</button>
  </section>

{{/each}}
